{{extend "cms_head.html"}}
{{block content}}

{{from cms.views import subString}}

 <div class="boxed-group">
    <h3>{{=cate_info.name}}</h3>
    <div class="boxed-group-inner markdown-body">
 

{{for n in cate_list:}}

<div class="well">
  <div class="box cutout" style="float:left;display:inline;">
   <span class="image-wrap " style="position:relative; display:inline-block; background:url({{=n.image}}) no-repeat center center; width: 100px; height: 100px;">
    <img src={{=n.image}} style="opacity: 0;">
    </span>
   </div> 
   <div style="float:left;display:inline;">
	<span>{{=n.title}}</span>
        {{=subString(n.content,500)}}
   </div>
</div>
{{pass}}

    </div>
 </div>




{{end}}
