{{extend "head.html"}}

{{block content}}


<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="/admin" >站点管理</a></li>
    <li class="active"><a href="#tab1" data-toggle="tab">{{=name}}</a></li>
  </ul>
  
  <div class="tab-content">
	
    <div class="tab-pane active" id="tab1">
	{{block category_content}}
	<div class="tabbable "> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs">
   	 <li class="active"><a href="#catetab1" data-toggle="tab">内容列表</a></li>
    	 <li><a href="#catetab2" data-toggle="tab">添加内容</a></li>
  	 </ul>
  	<div class="tab-content">
    	<div class="tab-pane active" id="catetab1">
	<ul class="simple-conversation-list ">
	{{for n in cate_list:}}
	<li>	<input class="input-mini" type="text" placeholder=".input-mini" value={{=n.id_order}}>
		<span class="state state-default">	{{=n.title}}</span> 
	</li>
	{{pass}}
	</ul>
    	</div>
    	<div class="tab-pane" id="catetab2">
		{{<<content_form}}
	    </div>
  	</div>
	</div>


	{{end}}
    </div>
  </div>
</div>



{{end}}
