{{extend "head.html"}}

{{block content}}
{{use "jqupload"}}
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        上传文件 
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse ">
      <div class="accordion-inner">
        
	{{<<form}}
      </div>
    </div>
  </div>
</div>

{{end}}

{{block js_script}}
<script>
$(function () {
});
</script>
{{end}}
